.home
  background-image: linear-gradient(107.56deg, #001432 0%, #000000 100%)
  display: flex

  margin: 0px
  padding: 0px
  border: none

  width: 100vw
  height: 100vh

  *
    user-select: none

@mixin title-gradient
  background: linear-gradient(92.75deg, #9EDDFF 10.61%, #DDF3FF 70.22%)
  -webkit-background-clip: text
  -webkit-text-fill-color: transparent
  background-clip: text
  text-fill-color: transparent


.left-part
  flex: 1
  display: flex
  align-items: center
  justify-content: center

.right-part
  flex: 0.95
  background-image: linear-gradient(149.11deg, #FFFFFF 13.02%, #BFECFF 100%)
  clip-path: polygon(0 0, 100% 0, 100% 100%, 25% 100%)

  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

  gap: 35px
  padding: 5vh 60px 5vh 200px


  .arrow
    background: center / 100% no-repeat var(--arrow-down-path)
    width: 40px
    aspect-ratio: 1

  .features
    display: flex
    flex-direction: column
    gap: 10px
    font-size: 27px

    .feature:first-child
      flex: 1.3
      padding: 11px 0px
      border-radius: 40px 40px 3px 3px
      font-size: 1.3em
      font-family: Montserrat
      font-style: italic
      font-weight: 900
      span
        @include title-gradient
        display: inline-block
        width: calc(100% - 2*35px)
        padding: 0px 35px
    .feature:last-child
      border-radius: 3px 3px 30px 30px

    .feature, .complex-feature .title
      background-image: linear-gradient(98.85deg, #FC6D26 17.65%, #FFBC9B 100%)
      padding: 11px 35px
      border-radius: 3px
      flex: 1

    .complex-feature .title
      background-image: linear-gradient(98.85deg, #FC6D26 11.21%, #FFB088 100%)

    .feature, .complex-feature
      color: white
      font-family: Rubik
      font-weight: 600
      text-transform: uppercase
      text-align: center

    .complex-feature
      display: inline-flex
      justify-content: space-between
      gap: 10px

    .complex-feature .action
      display: inline-block
      height: 100%
      aspect-ratio: 1
      border-radius: 10px
      background: center / 60% no-repeat var(--background-url), linear-gradient(45deg, #252A30 13.45%, #04336C 100%)
      transition-property: transform border-radius
      transition-duration: 100ms
      transition-timing-function: ease-out

      &:hover
        transform: scale(1.09)
        border-radius: 11px
      &:active
        transform: scale(1.03)
        transition-duration: 80ms


.banner
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

  font-size: 5.5vw
  font-family: 'Montserrat', sans-serif
  text-transform: uppercase

  .subtitle
    color: white
    font-size: 0.28em
    font-weight: 300
    line-height: 0em
    align-self: flex-end
    margin-right: 0.18em

  .logo
    display: flex
    justify-content: center
    align-items: center

    img
      z-index: 1
      height: 1.3em
      width: auto
      aspect-ratio: 1
      margin-right: -0.41em

    .title
      @include title-gradient
      z-index: 0
      font-weight: 900
      font-size: 1em

button
  display: flex
  justify-content: center
  align-items: center

  height: 65px
  padding: 12px 17px
  gap: 15px

  border: none
  border-radius: 5px

  img
    height: 100%

  span.separator
    width: 1px
    height: 100%
    background-color: white

  span.text
    font-family: Rubik, sans-serif
    font-weight: 300
    font-size: 20px
    color: white
    text-transform: uppercase

button.github
  background-image: linear-gradient(200deg, #172E4A 0%, #252A30 72.4%)


@media only screen and (min-device-width: 320px) and (max-device-width: 480px)
  .home
    flex-direction: column
  .banner
    font-size: 13vw

  .left-part
    flex: 0.3
  .right-part
    flex: 1
    flex-direction: column-reverse

    clip-path: polygon(0 0, 100% 11%, 100% 100%, 0% 100%)
    padding: 50px 40px 20px 40px

    .arrow
      transform: rotateX(180deg)
      width: 10%
    .features
      min-width: 75%
      font-size: 18px