.home
  background-image: radial-gradient(56.6% 87.56% at 50% 50%, #100D8F 0%, #0D1117 100%)
  display: flex
  flex-direction: column

  margin: 0px
  padding: 0px
  border: none

  width: 100vw
  min-height: 100vh

  *
    user-select: none

@mixin title-gradient
  background: linear-gradient(92.75deg, #9EDDFF 10.61%, #DDF3FF 70.22%)
  -webkit-background-clip: text
  -webkit-text-fill-color: transparent
  background-clip: text
  text-fill-color: transparent
  margin: 0px


// Logo + Title
.banner
  margin-top: 9vh
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  font-family: 'Hubot Sans'
  font-size: 7vw

  .logo
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

    img
      z-index: 1
      width: 1.1em
      aspect-ratio: 1
      filter: drop-shadow(0px 13px 15px rgba(0, 0, 0, 0.45))
      transition: transform .3s ease
    img:hover
      transform: translateY(10px) scale(.96)

    .title
      @include title-gradient
      width: 100%
      margin-top: -0.35em
      font-size: 1em
      font-style: normal
      font-weight: 900
      font-stretch: 125%
      text-align: center
      text-transform: uppercase
      font-feature-settings: 'tnum' on, 'lnum' on

  .subtitle
    color: white
    margin-top: -0.3em
    font-size: 0.23em
    font-style: italic
    font-weight: 200
    font-stretch: 87.5%
    text-transform: uppercase
    font-feature-settings: 'tnum' on, 'lnum' on, 'case' on, 'salt' on

.animated-text .animated-char
  font-variation-settings: "wght" calc((1 - var(--variation, 1)) * (900 - 200) + 200), "wdth" calc((1 - var(--variation, 1)) * (125 - 100) + 100)
  transition: font-variation-settings .2s



#ball-background
  z-index: 0
  position: absolute
  top: 15vh
  left: -8vh

  width: calc(100vw + 16vh)
  height: calc(100vw + 16vh)
  border-radius: 100%

  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 20%)
  box-shadow: 0px -10px 40px rgba(3, 0, 159, 0.25), 0px -45px 94px rgba(255, 255, 255, 0.14), inset -10px -10px 6px rgba(0, 0, 0, 0.25), inset 1px 1px 46px rgba(159, 238, 255, 0.32), inset 2px 2px 15px rgba(114, 164, 252, 0.49)


.ball-container
  flex: 1
  display: flex
  position: relative
  overflow: hidden
  padding: 7vh
  padding-top: 23vh

  color: white
  font-size: 5vh

  *
    z-index: 1

  .summary
    flex: 1
    min-height: 22.5vh
    max-height: 10em // = 50vh

    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: center
    gap: 30px

  h1
    @include title-gradient
    padding-right: 0.2em
    font-family: 'Mona Sans'
    font-style: italic
    font-size: 1em
    font-weight: 900
    font-stretch: 125%
    text-transform: uppercase
    font-feature-settings: 'tnum' on, 'lnum' on, 'salt' on


.features
  width: 65vh
  max-width: 75vw
  display: flex
  justify-content: space-between
  align-items: center

  .feature.mobile
    display: none

  .feature
    flex: 1
    font-family: 'Hubot Sans'
    font-style: normal
    font-weight: 550
    font-size: 0.7em
    line-height: 1.3em
    text-transform: capitalize
    font-feature-settings: 'tnum' on, 'lnum' on
    font-variation-settings: 'ital' 0

    background: linear-gradient(110.97deg, var(--color, #2B68E3) 0%, #FFFFFF 100%)
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
    background-clip: text
    text-fill-color: transparent

    transition: font-weight .2s, font-stretch .2s, font-variation-settings .2s

  .feature:nth-child(2)
    flex: 3
    text-align: center

  .feature:hover
    font-variation-settings: 'ital' 10


@media (width <= 1000px)
  .banner
    font-size: 80px
    .subtitle
      font-size: 0.27em

@media (width <= 700px)
  .features
    flex-direction: column
    width: fit-content
    gap: 12px

    .feature
      display: none

    .feature.mobile
      display: unset
      align-self: stretch

@media (width <= 620px)
  #ball-background
    left: -16vh
    width: calc(100vw + 32vh)
    height: calc(100vw + 32vh)

@media (width <= 600px)
  .banner
    font-size: 65px
    .logo
      img
        width: 1.3em
    .subtitle
      font-size: 0.27em

  .ball-container
    padding: 10vw
    padding-top: 23vh
    font-size: 7vw

  .features
    .feature.mobile
      font-size: 0.8em

@media (width <= 450px)
  .ball-container
    font-size: 8vw

@media (width <= 360px)
  .banner
    font-size: 18vw



// Second part of the UI
.content-container
  all: unset
  background-color: black

.content
  clip-path: polygon(0 0, 100% 3%, 100% 100%, 0% 100%)
  width: calc(100% - 2 * 24px)

  display: flex
  flex-direction: column
  align-items: center
  gap: 120px
  padding: 50px 24px 40px 24px

  background: linear-gradient(149.11deg, #FFFFFF 13.02%, #BFECFF 100%), black

.part
  display: flex
  flex-direction: column
  justify-content: space-between
  align-items: flex-start
  gap: 22px

  width: 100%
  max-width: 500px

.head
  h1.title
    font-family: 'Mona Sans'
    font-weight: 700
    font-size: 32px
    margin: 0px

    display: flex
    align-items: center
    font-stretch: 115
    font-feature-settings: 'tnum' on, 'lnum' on, 'salt' on

    background: linear-gradient(131.8deg, var(--gradient-color, #6556D9) 25.57%, #06070B 87.68%)
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
    background-clip: text
    text-fill-color: transparent
  .description
    display: block
    margin-top: 5px

    color: #06070B
    font-family: 'Mona Sans'
    font-weight: 430
    font-size: 18px
    font-feature-settings: 'tnum' on, 'lnum' on

.part img
  width: 100%
.part
  #github-illustration
    max-width: 450px
    align-self: center

  #unity-logo
    width: auto
    height: 90px
    align-self: center

@media (width > 620px)
  .content
    gap: 130px