---
import Layout from "@layouts/MainLayoutWithoutBackground.astro"

import "@/main.sass"
import sass from "./index.module.sass"
import sassBackground from "./index-background.module.scss"
import behideLogo from "@assets/images/behide-logo-shadowed.svg"
---

<Layout>
	<div id={sassBackground.background}>
		<img
			id={sassBackground["background-image"]}
			src={behideLogo.src}
			alt="The Behide's logo."
		/>

		<div id={sassBackground["ball-container"]}>
			<div id={sassBackground.ball}></div>
		</div>
		</div>
	</div>

	<div id={sass.headline}>
		<h1>Behide</h1>
		<span>The new prop hunt</span>
	</div>
</Layout>
