.card
  z-index: 1
  position: relative
  padding: 30px
  border: 1px solid #30363d
  border-radius: 8px
  overflow: hidden
  background-color: #161b22d8
  backdrop-filter: blur(10px)

  transition: transform 1.2s cubic-bezier(0.16, 1, 0.3, 1)

  &:hover
    transition: unset
    .shine
      opacity: .85

.shine
  z-index: -1
  display: block
  position: absolute
  top: 0px
  left: 0px
  width: 300px
  height: 300px
  border-radius: 50px
  background-color: #5ebfff

  filter: blur(100px)
  mix-blend-mode: soft-light
  opacity: 0
  transition: opacity 1.2s cubic-bezier(0.16, 1, 0.3, 1)