.card
  z-index: 1
  position: relative
  padding: 30px
  border: 1px solid #30363d
  border-radius: 8px
  overflow: hidden
  background-color: #161b22

  transition: transform 1.2s cubic-bezier(0.16, 1, 0.3, 1)

  &:hover
    .shine
      opacity: .85

.shine
  z-index: -1
  display: block
  position: absolute
  top: 0px
  left: 0px
  width: 40%
  aspect-ratio: 1
  border-radius: 100%
  background-color: #5ebfff

  filter: blur(10vw)
  mix-blend-mode: soft-light
  opacity: 0
  transition: opacity 1.2s cubic-bezier(0.16, 1, 0.3, 1)
  will-change: transform