---
import sass from "./Link.module.sass"
import AnimatedArrow from "@components/AnimatedArrow/AnimatedArrow.astro"

interface Props {
  href: string,
  arrowScale?: number
}

const { href, arrowScale } = Astro.props
---

<a href={href} class:list={[sass.link, "animated-arrow-target"]}>
  <slot />
  <AnimatedArrow scale={arrowScale || 1.3} />
</a>