---
import sass from "./Link.module.sass"
import AnimatedArrow from "@components/AnimatedArrow.astro"

interface Props {
  href: string,
  arrowScale?: number
  class?: string
  id?: string
}

const { href, arrowScale, class: className, id } = Astro.props
---

<a id={id} href={href} class:list={[sass.link, "animated-arrow-target", className]}>
  <slot />
  <AnimatedArrow scale={arrowScale || 1.3} />
</a>