@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700;900&family=Rubik:wght@300;600&display=swap')

html, body, #root, .home
  margin: 0px
  padding: 0px
  border: none

  width: 100vw
  height: 100vh

  *
    user-select: none